@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 4px rgba(34, 34, 34, 0.6);
  }
}

body {
  @apply dark:bg-gray-800 text-gray-800 dark:text-white;
}

.article h1,
.article h2,
.article h3,
.article h4 {
  @apply text-3xl mb-4 mt-6 font-bold;
}

.article h2 {
  @apply text-2xl mb-4 mt-6 font-bold;
}
.article h3 {
  @apply text-xl mb-4 mt-6 font-bold;
}
.article h4 {
  @apply text-lg mb-4 mt-6 font-bold;
}

.article p {
  @apply my-2;
}

.article ol,
.article ul {
  @apply ml-8;
}

.article ol {
  @apply list-decimal;
}

.article ul {
  @apply list-disc;
}

.article img {
  @apply mx-auto my-8 shadow-md;
}

.article pre {
  @apply text-white bg-gray-700 break-words overflow-x-auto;
}

.article code {
  @apply text-white bg-gray-700 p-1;
  word-break: break-word;
}

.article a {
  word-break: break-word;
}

.article a {
  @apply underline;
}
